

:root {
    --color-dark: #363f5f;

}

/*Global ====================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
}

body {
    background: hsl(120, 100%, 90%);
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 1px solid red;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(80vw, 800px);
    margin: auto;
    font-weight: normal;
}
/* Tittles =================================================*/
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--color-dark);
}

/* Links & Buttons =================================================*/

a {
    color: #49aa26;
    text-decoration: none;
}

a:hover {
    color: #3dd705;

}

button {
    width: 100%;
    height: 50px;

    border:none;

    color: white;
    background: #49AA26;

    padding: 0;

    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {
    background: #3dd705;
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}
.button.cancel {
    color: #e92929;
    border: 2px #e92929 solid;
    border-radius: 0.25rem;

    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}



/* Header =================================================*/
header {
    background: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}

/*Balance =====================================================*/
#balance {
    margin-top: -8rem;
}
#balance h2 {
    color: white;
    margin-top: 0;
}

/* Cards =================================================*/
.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 1rem;

    margin-bottom: 2rem;

    color: var(--color-dark);

}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: space-aroundz;
}
.card p {
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
}
.card.total {
    background: #49AA26;
    color: white;
}

/* Table =================================================*/

#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}

#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
}

table th {
    background: white;


    padding: 1rem 2rem;
    font-weight: normal; 
       
    text-align: left;
    
}

table tbody tr {
    opacity: 0.7;
}
table tbody tr:hover {
    opacity: 1;
}


table tbody td {
    background: white;
    
    padding: 1rem 2rem;
    font-weight: normal;    
}


table thead tr th:first-child,
table tbody tr td:first-child
{
    border-radius: 0.5rem 0 0 0.5rem;    
}

table thead tr th:last-child,
table tbody tr td:last-child
{
    border-radius: 0 0.5rem 0.5rem 0;    
}

td.description {
    color: var(--color-dark);
}
td.income{
    color: #12a454;
}
td.expense{
    color: #e92929;
}

/* Modal =================================================*/
/* modal-overlay
modal
modal-content" */

.modal-overlay {
    width: 100%;
    height: 100%;

    background: rgb(0, 0, 0, 0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: hsl(120, 100%, 90%);
    padding: 2.4rem;
    position: relative;
    width: 90%;
    max-width: 500px;


}

/* Form =================================================*/

#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}
#form input {
    border: none;
    border-radius: 0.2rem;

    width: 100%;

    padding: 0.8rem;
} 

.input-group {
    margin-top: .8rem;
}

.input-group small {
    opacity: 0.5;
    display: block;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}



/* Footer =================================================*/
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--color-dark);

    opacity: 0.6;
}

/* Responsive =================================================*/

@media (min-width: 768px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}